.header{

	&__wrap{
		background-color:$color-grey-light;
	}
	&__nav{
		&__list{

			list-style:none;
			margin-bottom: 0;
			li{ 
				padding:0 8px;
				a{
					color:$color-grey-dark;
					font-size:14px;
				}
				display: inline;
			    &:not(:last-child){
				border-right:1px solid $color-grey-dark;
				}

			}
			
		}
	}
	&__img{
		background-color: #F9F9F9;
	}
	@include media-breakpoint-down(md) { 
		&__wrap{
			display: none;
		}
	
	}
}