$color-grey-dark:#4a4f55;
$color-grey-light:#e5e5e5;
$color-text-dark:#2a2a2a;
$color-text-light:#c8c8c8;
$color-red:#D8292F;
$color-darkred:#c41b21;
$color-footer-top:#4a5055;
$color-footer-bottom:#2b2b2b;
$color-brown:#BAA88D;